import React from "react";

import * as Styled from "./styled";

type PropsType = {};

export const {{pascalCase name}} = ({}: PropsType) => { 
	return (
		<Styled.Container>
			<h1>{{pascalCase name}}</h1>
		</Styled.Container>
	);
};

export default {{pascalCase name}};